.backdrop {
  position: relative;
  background-color: #555;
}

.backdrop:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: ' ';
  display: block;
  background: url("../img/login/portal.jpg") top left no-repeat transparent;
  background-attachment: fixed;
  background-size: cover;
  opacity: .4;
  z-index: 0;
}

.login.container {
  position: relative;
  height: 100vh;
  z-index: 100;
}

.login.container .content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.clearfix {
  clear: both;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.ui.menu.fixed {
  z-index: 1000 !important;
}

.hidden {
  display: none !important;
}

#app {
  display: -webkit-box;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
  flex: 1;
}

.main.container {
  padding: 0 2em;
  margin-top: 5em;
  margin-bottom: 2em;
}

.main.container.with.submenu {
  margin-top: 1.5em;
}

.menu.main {
  background: #29b260;
  z-index: 1000;
}

.menu.main .item {
  color: whitesmoke !important;
  transition: background .1s ease,box-shadow .1s ease,color .1s ease;
}

.menu.main .logo {
  -webkit-filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.85));
  filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.85));
}

.menu.main .user {
  border-radius: 25%;
  -webkit-filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.85));
  filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.85));
}

.menu.second {
  margin-top: 53px;
  background: #fff;
  border-bottom: 1px solid rgba(160, 160, 160, 0.45);
}

.menu.second .item {
  margin: 0;
  padding: 15px 15px;
  transition: background .1s ease,box-shadow .1s ease,color .1s ease;
}

.sidebar.inverted .item.header {
  background: #0f0f0f !important;
}

.footer {
  z-index: 1000;
  background-color: #ED1F29 !important;
  color: whitesmoke;
  border-bottom: none;
}

table thead th {
  cursor: auto;
  background: #3C8DBC;
  color: #efefef;
  text-align: center;
}

table thead th.no-padding {
  padding: 8px !important;
}

[v-cloak] {
  display: none !important;
}

[v-cloak].main.container {
  display: none !important;
}

.label.label-block {
  width: 100%;
  display: block;
  padding: 6px;
}

.select2-container--default {
  display: block !important;
  width: 100% !important;
}

.select2-container--default .select2-selection--single {
  height: 34px !important;
  line-height: 34px !important;
  border-radius: 0 !important;
  border-color: #d2d6de !important;
}

.select2-container--default .select2-selection__arrow {
  height: 32px !important;
}

.text.blue {
  color: blue;
}

.text.green {
  color: green;
}

.text.orange {
  color: orange;
}

.text.pink {
  color: pink;
}

.text.purple {
  color: purple;
}

.text.red {
  color: red;
}

.text.teal {
  color: teal;
}

.text.yellow {
  color: yellow;
}

.text.black {
  color: black;
}

.text.grey {
  color: grey;
}

.text.white {
  color: white;
}

table.compact.dataTable.table thead th.sorting::after, table.compact.dataTable.table thead th.sorting_asc::after, table.compact.dataTable.table thead th.sorting_desc::after, table.compact.dataTable.table thead td.sorting::after, table.compact.dataTable.table thead td.sorting_asc::after, table.compact.dataTable.table thead td.sorting_desc::after {
    top: 4px !important;
    right: 6px !important;
}

.right.floated.text{
  float:right;
}
.left.floated.text{
  float:left;
}

.packed.segment{
  padding: 0 !important;
}

.stacked.icons{
    position: relative;
}

.stacked.icons > .bottom.left.attached.icon{
    position: absolute;
    right: 0.15em;
    top: 0.65em;
}

.stacked.icons > .large.bottom.left.attached.icon{
    position: absolute;
    right: 0em;
    top: 0.50em;
}

.stacked.icons > .big.bottom.left.attached.icon{
    position: absolute;
    right: 0em;
    top: 0.65em;
}

.stacked.icons > .huge.bottom.left.attached.icon{
    position: absolute;
    right: 0em;
    top: 0.5em;
}

.stacked.icons > .attached.white.icon{
     text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
}

.stacked.icons > .attached.black.icon{
     text-shadow:
        -1px -1px 0 #fff,  
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
         1px 1px 0 #fff;
}

/*# sourceMappingURL=app.css.map */

.ui.breadcrumb{
  float: right; 
  padding:15px 0;
}

.ui.selection.dropdown > .delete.icon{
    margin: -0.2em;
    top: 0;
    right: 0;
}

.ui.form .field .inline.fields {
  margin:0;
}
.ui.form .inline.fields .ui.radio.checkbox{
  margin:11px;
} 
.ui.fullscreen.scrolling.modal {
    left: 2.5% !important;
}
.ui.labeled.input:not([class*="corner labeled"]) .label:first-child + .ui.dropdown {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left-color: transparent;
}
.ui.treeview > .content, .ui.treeview .accordion > .content {
  padding: 0 0 0 24px !important;
}
.ui.treeview > .content > .menu > .item, .ui.treeview .accordion > .content > .menu > .item {
  margin: 5px 0 !important;
  font-size: 12px;
}
.ui.treeview a{
  color: #000;
}
.ui.accordion .accordion{
    margin: 0;
}

.ui.form .inline.field > .ui.calendar{
    display: inline-block;
    width: auto;
    margin-top: 0em;
    margin-bottom: 0em;
    vertical-align: middle;
    font-size: 1em;
}

.ui.active.modals.dimmer {
    opacity: 0.5 !important;
}

.ui.fluid.dropdown > input.search {
  width: 100% !important;
}

.racks.segment{
  padding:0
  }/* Planogram Shelving */
.shelving {
  border-bottom: 5px solid rgba(34, 36, 38, 0.15);
  padding: 0;
  margin: 0;
  display: flex;
  position: relative;
  background-color: #fefefe;
}
.shelving:last-child {
  border-bottom: none;
}
.shelving .append.button{
  position: absolute;
  top: 0.5em;
  right: 0.2em;
}
.shelving > .prod{
  list-style: none;
  display: inline-block;
  align-self: flex-end;
}

.shelving > .prod > img{
  display: block;
}

.ui.compact.grid > .row{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

img.empty{
  background: url('/img/empty.png');
  text-align: center;
  color: #fff;
  font-size: .8em;
  font-weight: bold;
  -moz-box-shadow:    inset 0 0 3px #ff0000;
  -webkit-box-shadow: inset 0 0 3px #ff0000;
  box-shadow:         inset 0 0 3px #ff0000;
}
